.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--color-header);
  box-shadow: var(--color-header-box-shadow);
  transition: all 0.3s ease;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-logo {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  overflow: hidden;
}

.header-logo > img {
  width: 100%;
  height: 100%;
}
