.paper-container {
  max-width: 80%;
  min-width: 50%;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 500px;
  justify-content: center;
}

.form-title {
  min-height: 40px;
  background-color: #3099cc;
  padding: 10px;
  margin-bottom: 20px;
}

.form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
  padding: 20px;
}

.form-alternative-option {
  margin: auto;
  margin-bottom: 10px;
}

.form-options {
  margin: auto;
  padding: 10px;
}

@media (max-width: 800px) {
  .paper-container {
    width: 90%;
  }

  .form-alternative-option {
    margin-left: 20px;
  }

  .form-options {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    align-items: center;
  }
}
