.details-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 5px;
  padding: 20px;
  background-color: white;
  row-gap: 10px;
  max-height: 100%;
  overflow: hidden;
  position: relative;
}

.image-container {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
  overflow: hidden;
}

.image {
  object-fit: cover;
  max-width: 100%;
}

.chips-container {
  display: flex;
  row-gap: 5px;
  column-gap: 7px;
  flex-wrap: wrap;
}

.band {
  background-color: rgb(56, 56, 56);
  width: 5px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 700px) {
  .details-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "image title"
      "image description"
      "image chips";
    background-color: white;
    width: 100%;
    height: auto;
    column-gap: 10px;
  }

  #title-container {
    grid-area: title;
    padding: 10px;
  }

  .image-container {
    border-radius: 0;
    grid-area: image;
  }

  #description {
    grid-area: description;
  }

  .chips-container {
    grid-area: chips;
  }
}
