.details-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 10px;
  height: 100%;
  margin: 5px;
  padding: 20px;
  position: relative;
  background-color: white;
  max-width: 100%;
}

.image-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 20px;
}

.image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.chips-container {
  display: flex;
  row-gap: 5px;
  column-gap: 7px;
  flex-wrap: wrap;
}

.band {
  background-color: rgb(56, 56, 56);
  width: 5px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 700px) {
  .details-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "image title"
      "image description"
      "image chips";
    column-gap: 10px;
    background-color: white;
  }

  #title-container {
    grid-area: title;
    padding: 10px;
  }

  .image-container {
    border-radius: 0;
    grid-area: image;
  }

  #description {
    grid-area: description;
  }

  .chips-container {
    grid-area: chips;
  }
}

@media (max-width: 300px) {
  .details-container {
    display: flex;
    row-gap: 10px;
    background-color: white;
  }

  #title-container {
    padding: 10px;
  }

  .image-container {
    display: none;
    border-radius: 0;
  }
}
